.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.main {
  width: 80%;
  margin: auto;
  position: relative; /* This line is already present */
}

.world-img {
  width: 100%;
}

.country-area {
  width: 100%;
  height: 100%;
}

.country-1,
.country-2,
.country-3,
.country-4,
.country-5,
.country-6 {
  position: absolute;
  transition: all 1s;
}

.country-1 {
  top: 20%;
  left: 70.49%;
}

.country-2 {
  top: 35.89%;
  left: 77.08%;
}

.country-3 {
  top: 20.32%;
  left: 20%;
}

.country-4 {
  top: 51.69%;
  left: 52.38%;
}

.country-5 {
  top: 75.56%;
  left: 32.34%;
}

.country-6 {
  top: 45%;
  left: 70%;
}

.person-img {
  width: 25px;
  height: 25px;
}
.country-1::before,
.country-2::before,
.country-3::before,
.country-4::before,
.country-5::before,
.country-6::before {
  width: 130%;
  height: 130%;
  position: absolute;
  top:-5px;
  left: -4px;
  content: '';
  border: 1px dotted rgb(77, 75, 75);
  border-radius: 100%;
}




.country-1::after,
.country-2::after,
.country-3::after,
.country-4::after,
.country-5::after,
.country-6::after {
  content: "";
  position: absolute;
  top:-6px;
  left: -6px;
  width: 140%;
  height: 140%;
  background-color: #EDEFF0;
  border-radius: 100%;
  z-index: -1;
  animation: glowup 3s infinite ease-in-out;;
}

@keyframes glowup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.5);
  }
  90%{
    transform: scale(1.2);
  }
  100% {
    
  }
}

@media screen and (max-width: 768px) {
  .person-img {
    width: 15px;
    height: 15px;
  }
  .country-5 {
    top: 75.56%;
    left: 29.34%;
  }
}
